<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Si el archivo o directorio existe, se usa tal cual
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Si no, manda todo a index.php
    RewriteRule ^ index.php [L]
</IfModule>
